html {
  scroll-behavior: smooth;
}
html, body {
  color: $gray;
  font-family: $secondary-font;
}
.page-title h1 {
  font-family: $primary-font;
  font-weight: 900;
  text-transform: capitalize;
  @include tablet-min {
    font-size: 48px;
  }
}
@keyframes fade {
  17% {opacity: 1;}
  25% {opacity: 0;}
  92% {opacity: 0;}
}