html, body {
  color: $gray;
  font-family: $secondary-font;
}
.page {
  padding: 96px 0;
  @include small-phone {
    padding: 84px 0;
  }
  @include tablet-min {
    padding: 120px 0;
  }
  @include desktop-min {
    padding: 132px 0;
  }
  .page-title {
    font-family: $primary-font;
    text-transform: lowercase;
    h1 {
      font-size: 48px;
      font-weight: 900;
      @include small-phone {
        font-size: 44px;
      }
    }
  }
}
.content {
  @include small-phone {
    padding: 0 24px;
  }
}
