html, body {
  color: $gray;
  font-family: $secondary-font;
}
.page {
  .page-title {
    font-family: $primary-font;
    text-transform: lowercase;
    h1 {
      font-size: 48px;
    }
  }
}
