.navbar {
  background-color: $white;
  border-bottom: 1px solid $gray;
  .navbar-header {
    min-height: 72px;
    padding-left: 24px;
    @include small-phone {
      min-height: 60px;
      padding-left: 12px;
    }
    @include tablet-min {
      min-height: 84px;
      padding-left: 48px;
    }
    @include desktop-min {
      min-height: 96px;
    }
  }
  .navbar-title {
    color: $gray;
    font-family: $primary-font;
    font-weight: 900;
  }
  #navbar-menu {
    top: 72px;
    background-color: $white;
    @include small-phone {
      top: 60px;
    }
    @include tablet-min {
      top: 84px;
    }
    @include desktop-min {
      top: 96px;
    }
  }
  .menu-item {
    min-height: 72px;
  }
  .menu-link {
    color: $gray;
    font-size: 22px;
  }
}
