html, body {
  color: #404040;
  font-family: "Montserrat", sans-serif; }

.page {
  padding: 96px 0; }
  @media screen and (max-width: 374px) {
    .page {
      padding: 84px 0; } }
  @media screen and (min-width: 768px) {
    .page {
      padding: 120px 0; } }
  @media screen and (min-width: 1200px) {
    .page {
      padding: 132px 0; } }
  .page .page-title {
    font-family: "Poppins", sans-serif;
    text-transform: lowercase; }
    .page .page-title h1 {
      font-size: 48px;
      font-weight: 900; }
      @media screen and (max-width: 374px) {
        .page .page-title h1 {
          font-size: 44px; } }

@media screen and (max-width: 374px) {
  .content {
    padding: 0 24px; } }

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #404040; }
  .navbar .navbar-header {
    min-height: 72px;
    padding-left: 24px; }
    @media screen and (max-width: 374px) {
      .navbar .navbar-header {
        min-height: 60px;
        padding-left: 12px; } }
    @media screen and (min-width: 768px) {
      .navbar .navbar-header {
        min-height: 84px;
        padding-left: 48px; } }
    @media screen and (min-width: 1200px) {
      .navbar .navbar-header {
        min-height: 96px; } }
  .navbar .navbar-title {
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-weight: 900; }
  .navbar #navbar-menu {
    top: 72px;
    background-color: #fff; }
    @media screen and (max-width: 374px) {
      .navbar #navbar-menu {
        top: 60px; } }
    @media screen and (min-width: 768px) {
      .navbar #navbar-menu {
        top: 84px; } }
    @media screen and (min-width: 1200px) {
      .navbar #navbar-menu {
        top: 96px; } }
  .navbar .menu-item {
    min-height: 72px; }
  .navbar .menu-link {
    color: #404040;
    font-size: 22px; }

#home {
  height: 100vh; }
  #home .home {
    display: flex;
    align-items: center;
    height: 100vh; }
  #home .content {
    padding-bottom: 24px;
    text-align: center; }
    #home .content h1 {
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      padding: 0 0 6px 0; }
      @media screen and (max-width: 374px) {
        #home .content h1 {
          font-size: 24px; } }
      @media screen and (min-width: 768px) {
        #home .content h1 {
          font-size: 44px;
          padding: 0 0 12px 0; } }
      @media screen and (min-width: 1200px) {
        #home .content h1 {
          font-size: 48px; } }

#portfolio .portfolio-category {
  padding: 0 0 96px; }
  #portfolio .portfolio-category h2 {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 700;
    padding: 0 24px 36px;
    text-align: center;
    text-transform: lowercase; }

#portfolio #web-design .portfolio-items {
  display: grid; }
  @media screen and (min-width: 768px) {
    #portfolio #web-design .portfolio-items {
      grid-template-columns: repeat(2, 1fr); } }

#portfolio #web-design .portfolio-item {
  position: relative; }
  #portfolio #web-design .portfolio-item .item-image {
    opacity: .2;
    object-fit: cover;
    transition: all 1s; }
  #portfolio #web-design .portfolio-item .item-name {
    position: absolute;
    top: 10%;
    right: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 80%;
    padding: 12px;
    transition: all 1s; }
    #portfolio #web-design .portfolio-item .item-name .name {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      text-transform: lowercase; }
  #portfolio #web-design .portfolio-item .item-url {
    position: absolute;
    bottom: 10%;
    right: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0%;
    transition: all 1s; }
    #portfolio #web-design .portfolio-item .item-url .url {
      display: none;
      color: #fff;
      font-size: 18px;
      height: 48px;
      padding: 0 12px; }
      #portfolio #web-design .portfolio-item .item-url .url .fas {
        padding: 0 0 0 6px; }
  #portfolio #web-design .portfolio-item:hover .item-image, #portfolio #web-design .portfolio-item:focus .item-image, #portfolio #web-design .portfolio-item:active .item-image {
    opacity: 1; }
  #portfolio #web-design .portfolio-item:hover .item-name, #portfolio #web-design .portfolio-item:focus .item-name, #portfolio #web-design .portfolio-item:active .item-name {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32); }
  #portfolio #web-design .portfolio-item:hover .item-url, #portfolio #web-design .portfolio-item:focus .item-url, #portfolio #web-design .portfolio-item:active .item-url {
    height: 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32); }
    #portfolio #web-design .portfolio-item:hover .item-url .url, #portfolio #web-design .portfolio-item:focus .item-url .url, #portfolio #web-design .portfolio-item:active .item-url .url {
      display: flex;
      align-items: center; }

#portfolio #custom-pc-building .portfolio-item {
  padding: 0 0 72px; }

#portfolio #custom-pc-building .item-inner {
  position: relative;
  margin: 0 0 12px; }

#portfolio #custom-pc-building .item-image {
  max-height: 250px; }

#portfolio #custom-pc-building .item-name {
  position: absolute;
  bottom: 12px;
  right: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 48px;
  padding: 0 12px; }
  #portfolio #custom-pc-building .item-name .name {
    color: #fff;
    font-size: 24px;
    text-transform: lowercase; }

#portfolio #custom-pc-building .item-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  padding: 0 12px; }
  #portfolio #custom-pc-building .item-images .images {
    max-height: 200px; }

#contact .contact-grid {
  display: grid;
  grid-row-gap: 48px; }
  @media screen and (min-width: 768px) {
    #contact .contact-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px; } }
  @media screen and (min-width: 1200px) {
    #contact .contact-grid {
      grid-column-gap: 48px; } }

#contact .contact-item {
  border: 1px solid #404040;
  padding: 24px;
  text-align: center;
  transition: all 1s; }
  #contact .contact-item .item-inner {
    color: #404040;
    display: block; }
  #contact .contact-item .fas, #contact .contact-item .fab {
    font-size: 72px;
    margin: 0 0 12px 0; }
  #contact .contact-item p {
    font-size: 24px; }
    #contact .contact-item p:first-of-type {
      padding: 0 0 12px 0; }
    #contact .contact-item p:last-child {
      font-family: "Poppins", sans-serif;
      font-weight: 700; }
  #contact .contact-item .email {
    font-size: 18px; }
    @media screen and (max-width: 374px) {
      #contact .contact-item .email {
        font-size: 16px; } }
  #contact .contact-item:hover, #contact .contact-item:focus, #contact .contact-item:active {
    background-color: #404040;
    border: none; }
    #contact .contact-item:hover .item-inner, #contact .contact-item:focus .item-inner, #contact .contact-item:active .item-inner {
      color: #fff; }

#about {
  background-color: #f0f0f0; }
  #about .about-grid {
    display: grid;
    grid-row-gap: 108px;
    padding: 60px 0 0 0; }
    @media screen and (min-width: 768px) {
      #about .about-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: none; } }
    @media screen and (min-width: 1200px) {
      #about .about-grid {
        grid-column-gap: 48px; } }
  #about .about-item {
    position: relative;
    background-color: #fff;
    padding: 72px 24px 24px 24px;
    text-align: center; }
    #about .about-item .fas {
      position: absolute;
      top: -60px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #404040;
      border-radius: 50%;
      color: #fff;
      font-size: 60px;
      height: 120px;
      margin: 0 auto;
      width: 120px; }
    #about .about-item p {
      font-size: 24px;
      line-height: 1.2; }

footer {
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  text-align: center; }
  footer a {
    color: #fff; }
  footer .footer-social {
    padding: 0 0 24px 0; }
    footer .footer-social .social-icons {
      display: flex;
      justify-content: space-around; }
      footer .footer-social .social-icons .fab {
        font-size: 60px; }
  footer hr {
    margin: 0 12% 24px 12%; }
  footer .footer-bottom p {
    line-height: 1.2; }
