html {
  scroll-behavior: smooth; }

html, body {
  color: #404040;
  font-family: "Montserrat", sans-serif; }

.page-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: capitalize; }
  @media screen and (min-width: 768px) {
    .page-title h1 {
      font-size: 48px; } }

@keyframes fade {
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  92% {
    opacity: 0; } }

.navbar {
  border-bottom: 1px solid #404040;
  transition: all 1s; }
  @media screen and (min-width: 992px) {
    .navbar .nav {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 48px; } }
  @media screen and (min-width: 992px) {
    .navbar .navbar-header {
      padding-right: 0; } }
  @media screen and (min-width: 1200px) {
    .navbar .navbar-header {
      padding-left: 96px; } }
  .navbar .navbar-title {
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-weight: 900; }
    @media screen and (min-width: 768px) {
      .navbar .navbar-title {
        font-size: 48px; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .navbar .navbar-title {
        font-size: 40px; } }
  @media screen and (min-width: 992px) {
    .navbar .navbar-icon {
      display: none; } }
  @media screen and (min-width: 992px) {
    .navbar #navbar-menu {
      position: inherit;
      display: grid;
      width: auto;
      padding: 0 48px 0 0; } }
  @media screen and (min-width: 1200px) {
    .navbar #navbar-menu {
      padding-right: 96px; } }
  @media screen and (min-width: 992px) {
    .navbar .menu-items {
      display: grid;
      grid-template-columns: repeat(5, auto); } }
  .navbar .menu-item:hover, .navbar .menu-item:focus, .navbar .menu-item:active {
    background-color: #f8f8f8; }
  @media screen and (min-width: 992px) {
    .navbar .menu-item {
      padding: 0 12px; } }
  .navbar .menu-link {
    border-bottom: 2px solid #f8f8f8;
    color: #404040;
    font-size: 22px;
    transition: all 1s; }
    @media screen and (min-width: 992px) {
      .navbar .menu-link {
        border-bottom-width: 4px;
        font-size: 20px; } }
    .navbar .menu-link:hover, .navbar .menu-link:focus, .navbar .menu-link:active {
      border-bottom-color: #404040; }

.navbar-special {
  border-bottom: none;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08); }

#home .home {
  position: relative;
  height: 100vh; }

#home .home-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  height: 100vh;
  padding: 0 24px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #home .home-content {
      padding: 0 48px; } }
  @media screen and (min-width: 1200px) {
    #home .home-content {
      padding: 0 96px; } }
  #home .home-content:nth-child(4) {
    animation: fade 16s 0s infinite; }
  #home .home-content:nth-child(3) {
    animation: fade 16s 4s infinite; }
  #home .home-content:nth-child(2) {
    animation: fade 16s 8s infinite; }
  #home .home-content:nth-child(1) {
    animation: fade 16s 12s infinite; }
  #home .home-content .home-item {
    border: 1px solid #404040;
    padding: 48px 24px 48px 12px; }
    @media screen and (min-width: 768px) {
      #home .home-content .home-item {
        padding: 72px 48px 72px 24px; } }
    @media screen and (min-width: 1200px) {
      #home .home-content .home-item {
        padding: 96px 72px 96px 36px; } }
  #home .home-content .home-title {
    font-size: 44px;
    text-align: right; }
    @media screen and (max-width: 374px) {
      #home .home-content .home-title {
        font-size: 32px; } }
    @media screen and (min-width: 375px) and (max-width: 400px) {
      #home .home-content .home-title {
        font-size: 40px; } }
    @media screen and (min-width: 768px) {
      #home .home-content .home-title {
        font-size: 48px; } }
    @media screen and (min-width: 1200px) {
      #home .home-content .home-title {
        font-size: 60px; } }

#services {
  background-color: #f8f8f8; }
  #services .services {
    display: grid;
    grid-row-gap: 48px; }
    @media screen and (min-width: 992px) {
      #services .services {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 48px; } }
  #services .services-item {
    background-color: #fff;
    text-align: center; }
  #services .service-image {
    position: relative;
    height: 200px; }
    @media screen and (min-width: 768px) {
      #services .service-image {
        height: 300px; } }
    #services .service-image .image {
      height: 100%;
      object-fit: cover;
      width: 100%; }
  #services .service-content {
    padding: 12px 12px 48px; }
    @media screen and (min-width: 768px) {
      #services .service-content {
        padding: 24px 24px 72px; } }
  #services .service-name {
    font-family: "Poppins", sans-serif; }

#portfolio .portfolio {
  display: grid;
  grid-row-gap: 96px; }

#portfolio .portfolio-category .portfolio-name {
  font-family: "Poppins", sans-serif;
  padding: 0 24px 24px;
  text-align: center; }

@media screen and (min-width: 1200px) {
  #portfolio #web-design {
    padding: 0 48px; } }

#portfolio #web-design .portfolio-items {
  display: grid;
  grid-row-gap: 6px; }
  @media screen and (min-width: 768px) {
    #portfolio #web-design .portfolio-items {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 6px; } }
  @media screen and (min-width: 1200px) {
    #portfolio #web-design .portfolio-items {
      grid-column-gap: 48px; } }

#portfolio #web-design .portfolio-item {
  position: relative; }
  #portfolio #web-design .portfolio-item .item-name {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100%;
    padding: 12px;
    width: 100%;
    transition: all 1s; }
  #portfolio #web-design .portfolio-item .name {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: lowercase;
    transition: all 1s; }
  #portfolio #web-design .portfolio-item .item-url {
    position: absolute;
    bottom: 12px;
    right: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0%;
    transition: all 1s; }
  #portfolio #web-design .portfolio-item .url {
    display: none;
    color: #fff;
    font-size: 18px;
    height: 48px;
    padding: 0 12px; }
  #portfolio #web-design .portfolio-item .fas {
    padding: 0 0 0 6px; }
  #portfolio #web-design .portfolio-item:hover .item-name, #portfolio #web-design .portfolio-item:focus .item-name, #portfolio #web-design .portfolio-item:active .item-name {
    min-height: 0%;
    padding: 0; }
  #portfolio #web-design .portfolio-item:hover .name, #portfolio #web-design .portfolio-item:focus .name, #portfolio #web-design .portfolio-item:active .name {
    font-size: 0px; }
  #portfolio #web-design .portfolio-item:hover .item-url, #portfolio #web-design .portfolio-item:focus .item-url, #portfolio #web-design .portfolio-item:active .item-url {
    height: 48px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08); }
  #portfolio #web-design .portfolio-item:hover .url, #portfolio #web-design .portfolio-item:focus .url, #portfolio #web-design .portfolio-item:active .url {
    display: flex;
    align-items: center; }

#portfolio #custom-pc-building .portfolio-items {
  display: grid;
  grid-row-gap: 48px; }

#portfolio #custom-pc-building .portfolio-item {
  display: grid;
  grid-row-gap: 6px; }
  @media screen and (min-width: 768px) {
    #portfolio #custom-pc-building .portfolio-item {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 6px; } }

#portfolio #custom-pc-building .item-image {
  height: 300px; }
  #portfolio #custom-pc-building .item-image .image {
    height: 100%;
    object-fit: cover;
    width: 100%; }

#portfolio #digital-signage .portfolio-item {
  position: relative;
  height: 250px; }
  @media screen and (max-width: 374px) {
    #portfolio #digital-signage .portfolio-item {
      height: 200px; } }
  @media screen and (min-width: 768px) {
    #portfolio #digital-signage .portfolio-item {
      height: 350px; } }
  @media screen and (min-width: 1200px) {
    #portfolio #digital-signage .portfolio-item {
      height: 400px; } }

#portfolio #digital-signage .item-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; }
  #portfolio #digital-signage .item-image:nth-child(4) {
    animation: fade 16s 0s infinite; }
  #portfolio #digital-signage .item-image:nth-child(3) {
    animation: fade 16s 4s infinite; }
  #portfolio #digital-signage .item-image:nth-child(2) {
    animation: fade 16s 8s infinite; }
  #portfolio #digital-signage .item-image:nth-child(1) {
    animation: fade 16s 12s infinite; }

#contact {
  background-color: #f8f8f8; }
  #contact .contact {
    display: grid;
    grid-row-gap: 48px;
    padding: 0 0 48px; }
    @media screen and (min-width: 768px) {
      #contact .contact {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 48px; } }
  #contact .contact-item {
    background-color: #fff;
    padding: 24px 24px 48px;
    text-align: center;
    transition: all 1s;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08); }
    @media screen and (min-width: 992px) {
      #contact .contact-item {
        padding: 48px 24px 72px; } }
    #contact .contact-item .item-inner {
      color: #404040;
      display: block; }
    #contact .contact-item .fas, #contact .contact-item .fab {
      font-size: 72px;
      padding: 0 0 12px; }
    #contact .contact-item p {
      font-size: 24px; }
      #contact .contact-item p:first-of-type {
        padding: 0 0 12px; }
      #contact .contact-item p:last-child {
        font-family: "Poppins", sans-serif;
        font-weight: 700; }
    #contact .contact-item .email {
      font-size: 18px; }
      @media screen and (max-width: 374px) {
        #contact .contact-item .email {
          font-size: 16px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        #contact .contact-item .email {
          font-size: 16px; } }
    #contact .contact-item:hover, #contact .contact-item:focus, #contact .contact-item:active {
      background-color: #404040;
      border: none; }
      #contact .contact-item:hover .item-inner, #contact .contact-item:focus .item-inner, #contact .contact-item:active .item-inner {
        color: #fff; }
  #contact .contact-form {
    background-color: #fff;
    padding: 24px 12px 48px; }
    @media screen and (min-width: 768px) {
      #contact .contact-form {
        padding: 24px 24px 48px; } }
    @media screen and (min-width: 992px) {
      #contact .contact-form {
        padding: 48px 48px 72px; } }
    #contact .contact-form .form-header {
      padding: 0 0 12px;
      text-align: center; }
      #contact .contact-form .form-header .fas, #contact .contact-form .form-header .fab {
        font-size: 72px;
        padding: 0 0 12px;
        text-align: center; }
      #contact .contact-form .form-header p {
        font-size: 24px; }
    #contact .contact-form input, #contact .contact-form textarea {
      border-bottom-color: #404040;
      font-family: "Poppins", sans-serif; }
    @media screen and (min-width: 768px) {
      #contact .contact-form .form-group-inline {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    #contact .contact-form .radio {
      height: 48px;
      margin: 0; }
      #contact .contact-form .radio label {
        margin: 0;
        padding: 0; }
        #contact .contact-form .radio label input[type=radio] {
          display: none; }
          #contact .contact-form .radio label input[type=radio]:checked + span {
            color: #404040;
            font-weight: 900; }
          #contact .contact-form .radio label input[type=radio] + span:before {
            border: 1px solid #404040;
            border-radius: 50%;
            content: "";
            display: inline-block;
            margin-bottom: -12px;
            margin-right: 12px;
            height: 36px;
            width: 36px;
            transition: all 1s; }
          #contact .contact-form .radio label input[type=radio]:checked + span:before {
            background: #404040;
            border: 2px solid #404040; }
    #contact .contact-form .form-buttons {
      display: flex;
      justify-content: space-between; }
    #contact .contact-form button {
      border-color: #404040;
      color: #404040;
      font-family: "Poppins", sans-serif;
      box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08); }
      #contact .contact-form button:hover, #contact .contact-form button:focus, #contact .contact-form button:active {
        background-color: #404040;
        color: #fff; }

#about .about-image {
  padding: 0 0 48px; }
  #about .about-image .image {
    border-radius: 50%;
    height: 192px;
    object-fit: cover;
    width: 192px; }
    @media screen and (min-width: 768px) {
      #about .about-image .image {
        height: 240px;
        width: 240px; } }
    @media screen and (min-width: 1200px) {
      #about .about-image .image {
        height: 288px;
        width: 288px; } }

#about .about {
  display: grid;
  grid-row-gap: 108px;
  padding: 60px 0 0 0; }
  @media screen and (min-width: 992px) {
    #about .about {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 48px; } }

#about .about-item {
  position: relative;
  background-color: #f8f8f8;
  padding: 72px 24px 48px;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #about .about-item {
      padding: 96px 24px 72px; } }
  #about .about-item .fas {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    border-radius: 50%;
    color: #fff;
    font-size: 60px;
    height: 120px;
    margin: 0 auto;
    width: 120px; }
  #about .about-item p {
    font-size: 24px;
    line-height: 1.2; }

#footer {
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  text-align: center; }
  #footer a {
    color: #fff; }
  #footer .footer-social {
    padding: 0 0 24px 0; }
    #footer .footer-social .social-icons {
      display: flex;
      justify-content: space-around; }
      #footer .footer-social .social-icons .fab {
        font-size: 60px; }
  #footer hr {
    margin: 0 12% 24px 12%; }
  #footer .footer-bottom p {
    line-height: 1.2; }
