#home {
  height: 100vh;
  .home {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .content {
    padding-bottom: 24px;
    text-align: center;
    h1 {
      font-family: $primary-font;
      font-size: 32px;
      padding: 0 0 6px 0;
      @include small-phone {
        font-size: 24px;
      }
      @include tablet-min {
        font-size: 44px;
        padding: 0 0 12px 0;
      }
      @include desktop-min {
        font-size: 48px;
      }
    }
  }
}
