#portfolio {
  background-color: $gray-lighter;
  .portfolio-grid {
    display: grid;
    @include tablet-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-min {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .portfolio-item {
    position: relative;
    .item-image {
      opacity: .2;
      object-fit: cover;
      transition: all 1s;
    }
    .item-name {
      position: absolute;
      top: 10%;
      right: 24px;
      left: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($black,.6);
      min-height: 80%;
      padding: 12px;
      transition: all 1s;
      .name {
        color: $white;
        font-family: $primary-font;
        font-size: 24px;
        text-align: center;
        text-transform: lowercase;
      }
    }
    .item-url {
      position: absolute;
      bottom: 10%;
      right: 24px;
      background-color: rgba($black,.8);
      height: 0%;
      transition: all 1s;
      .url {
        display: none;
        color: $white;
        font-size: 18px;
        height: 48px;
        padding: 0 12px;
        .fas {
          padding: 0 0 0 6px;
        }
      }
    }
    &:hover, &:focus, &:active {
      .item-image {
        opacity: 1;
      }
      .item-name {
        background-color: rgba($black,.8);
        min-height: 48px;
        @include box-shadow-bottom();
      }
      .item-url {
        height: 48px;
        @include box-shadow-bottom();
        .url {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
